*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#chart {
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 80%;
}
  
.selection {
    fill: none;
}

.tick {
    font-size: 0.5rem;
}


